.App {
  text-align: center;
}

h1 {
  font-size: 46px;
  padding: 20px;
  margin-bottom: 50px;
  font-weight: bold;
}
select {
  border-radius: 10px;
}

table {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
  background-color: lightblue;
  border: solid 1px black;
  width: 100%;
  border-radius: 10px;
}

th {
  border: 2px solid black;
}
tr {
  border: solid black 1px;
}
td {
  border: solid black 1px;
}

body {
  background-color: aliceblue;
}
